@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;

.upcoming-header{

        background-color:#223843;

    &__text {
        
            display: flex;
            color: #8bd3dd;
            font-weight: 500;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-bottom: 0.5rem;
            margin-top: 1rem;
            letter-spacing: 0.0938rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-transform: uppercase;
        }

        &__mainwrpr {

            margin-bottom: 1rem;
        }
}

.upcoming {

    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:#8bd3dd;
    text-transform: uppercase;
    align-items: center;
    border-radius: .5rem;

    @include tablet {
        margin-right: 2rem;
        margin-left: 2rem;
    }


    &__date-wrpr{
        background-color: #F7C3C4;
        width: 60%;
        align-items: center;

        @include tablet {
        background-color: #F7C3C4;
        width: 60%;
        font-weight: 400;
        display: flex;
        gap: 1rem;
        justify-content: center;    
        }
    }

    &__date {
        padding-top: .5rem;
        font-weight: 500;

        @include tablet {
            padding-bottom: .5rem;
        }
    }

    &__time {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        @include tablet {
            padding-top: .5rem;
            padding-bottom: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
        }
    }

    &__info-wrpr {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tablet {
            flex-direction: row;
            width: 50%;
            font-weight: 400;
            display: flex;
            gap: 2rem;
            justify-content: center;
            align-items: center;

        @include desktop { 
            justify-content: flex-end;
            width: 20%;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
    }

    &__info{
        padding-top: .5rem;
        padding-bottom: .5rem;
    
    }

    &__btn-wrpr {
        background-color:#223843;
        height: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    &__cancel-btn {
        border: none;
        height: 2rem;
        align-self: center;
        background-color: #F7C3C4;
        border-radius: 0.25rem;
        margin-bottom: 1rem;

        @include tablet{
            margin-bottom: 0;
            margin-right: .5rem;
        }
    }
}