@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;

.upcoming-header{

        // display: flex;
        // // flex-direction: column;
        background-color:#223843;
        // color: #8bd3dd;
       

    &__text {
        
            display: flex;
            // background-color: #ffbaba;
            // color: #1a1a1a;
            color: #8bd3dd;
            font-weight: 500;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-bottom: 0.5rem;
            margin-top: 1rem;
            letter-spacing: 0.0938rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-transform: uppercase;
        }

        &__mainwrpr {
            // background-color:#223843;
            margin-bottom: 1rem;

        }
}



.upcoming {

    display: flex;
    justify-content: space-around;
    // margin-right: .625rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:#8bd3dd;
    text-transform: uppercase;

    &__date-wrpr{
        background-color: #F7C3C4;
        width: 60%;
        font-weight: 400;
        // background: linear-gradient(#ffbaba, #df9191 );

    }

    &__date {
        // background-color: #d36565;
        // padding-top: 1rem;
        // padding-bottom: 1rem;
        // width: 100%;
        // width: fit-content;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    &__info-wrpr {
        width: 40%;
        // border: solid 1px #d36565;
        font-weight: 400;
        // border-top: solid 1px #d36565;
    }

    &__info{
        // background-color: #d36565;
        padding-top: .5rem;
        padding-bottom: .5rem;
        // width: fit-content;
    
    }

    &__btn-wrpr {
        background-color:#223843;
        height: 10px;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        // width: 60%;
    }

    &__btn-cancel {
        // width: 80%;
        padding: 0.625rem;
        align-self: center;
        // height: 1.5625rem;
        background-color: #8bd3dd;

    }



}