@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.footer-wrpr {
    background-color: #8bd3dd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-top: solid 2px #223843;
    position: fixed;
    bottom: 0;
    width: 100%;

    &__icon{
        height: 2rem;
    }
}