@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

* {
  box-sizing: border-box;
}

.header-main {
  background-color: #fffbfb;
  width: 100%;
  color: #1a1a1a;
  font-weight: 400;
  // text-shadow: 1px 1px 2px #fffbfb;
  display: flex;
  // flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  // margin-left: 1rem;
  // margin-right: 1rem;

  @include tablet {
  }

  &__img-wrp {
    display: flex;
  }

  &__img {
    height: 3.75rem;
    width: auto;
  }

  &__wrp-nav {
    // display: flex;
    width: 100%;
    display: flex;
    // align-items:center;
    // justify-content: center;
    // align-content: center;
    gap: 0.5rem;
    margin-right: 0.5rem;

    @include tablet {
      align-content: center;
    }
  }

  &__nav {
    list-style: none;
    // text-decoration: none;
    text-align: center;
    height: 2.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    // display: flex;
    border-radius: 0.25rem;
    background-color: #8bd3dd;
    // // background-image: linear-gradient(  #d36565,#ffbaba,#fbbbbb, #d36565,);
    // background-image: linear-gradient(rgba(#ffbaba, 100%) 90%, rgba(#83b6d1, 100%));
    text-align: center;
    font-size: 0.8125rem;
    display: flex;
    a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
  }

  &__li {
    // list-style: none;
    text-decoration: none;
    // text-align: center;
  }
}
