@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

* {
  box-sizing: border-box;
}

.header-main {
  background-color: #fffbfb;
  width: 100%;
  color: #223843;
  font-weight: 400;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  position: sticky;
  top: 0;

  @include tablet {
  }

  &__img-wrp {
    display: flex;
  }

  &__img {
    height: 3.75rem;
    width: auto;
  }

  &__wrp-nav {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    margin-right: 0.5rem;

    @include tablet {
      align-content: center;
    }
  }

  &__nav {
    list-style: none;
    text-align: center;
    height: 2.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 0.25rem;
    background-color: #8bd3dd;
    text-align: center;
    font-size: 0.8125rem;
    display: flex;
    a {
        text-decoration: none;
        color: #223843;
        font-weight: 700;
    }
  }

  &__li {
    text-decoration: none;
  }
}
