@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;


.schedule {

    &__day-wrpr {
        display: flex;
        // flex-direction: column;
        // background-color: $btn-pink1;
        background-color:#223843;
        // background-color: #545454;
        // color: $text-color;
        color: #8bd3dd;
        font-weight: 500;
        // height: 1.5625rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: .5rem;
        margin-top: 1rem;
        letter-spacing: .0938rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }

    &__info-wrpr{

        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: solid 1px #F7C3C4;
        border-top: solid 1px #F7C3C4;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }

    &__btn {
        height: 3.125rem;
        // width: 50%;
        background-color: #8bd3dd;
        border: none;
        // margin-top: 5rem;
        width: 100%;
        color: #223843;
        font-weight: 700;
        border-radius: 0.25rem;
        height: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}