@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    background-color: #1B4965;
    height: 30vh;
    background-image: url(../../assets/background/header-background.png);
    background-position: 50% 50%;
    background-size: cover;
    align-items: flex-start;

    &__name {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-stretch: expanded;
        letter-spacing: .5rem;
    }

    &__wrpr-photo{
        margin-left: .5rem;
    }

    &__photo{
        width: 9.375rem;
        border-radius: 4px;
    }

    &__wrpr-name{
        margin-left: 1rem;
        display: flex;
        font-weight: 700;
        justify-content: flex-start;
        border-radius: 10px;
    }

    &__back-name{
        display: flex;
        flex-direction: column;
    }

    &__btn-wrpr {
        display: flex;
        justify-content: space-around;
        height: 2.5rem;
        width: 21%;
        margin-left: 1rem;
    }

    &__btn{
        height: 3.125rem;
        background-color: #8bd3dd;
        border: none;
        width: 100%;
        color: #223843;
        font-weight: 500;
        border-radius: 0.25rem;
        height: 2.5rem;
    }
}