// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


// Colors

// Dark

$dark-grey:#545454;
$grey:#848280;
$dark-pink:#aa7677;
$bermellon: #d36565;


// Light

$light-pink:#f8bcbc;
$white-pink: #fffbfa;



// BTNS


$btn-pink1:#ffbaba;
$bermellon: #d36565;
$btn-pink2:#fbbbbb;


// TEXT

$text-color:#1a1a1a;